html, body{
    background-color:#f8f9fa;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
input.slider {
    width: 100%;
}
#header span {
    margin-left: 15px;
}
#autocomplete{
    color:#3B48F6;
}
#header {
    background-color: white;
    margin-top: -20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 2px;
    padding-top: 20px;
}

.description {
    position: relative;
    margin-bottom: 5px;
}

.description span{
    line-height: 20px;
}   

input.box {
    width: 25%;
    right: 0%;
    position: absolute;
    top:0%;
    line-height: 20px;
}
.loading {
    pointer-events:none
}
.fa-circle-notch {
    position: absolute;
    font-size: 1em;
    z-index: 9999;
    margin-left: 4px;
}
.settings{
    background-color: #ececec6c;
    position: fixed;
    bottom: 0;
    width: 140px;
    padding: 2px 6px;
}

.ql-snow{
    margin-left: 10% !important;
    margin-right: 10% !important;
    background-color: white;
}


.ql-mention-list {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}
.ql-mention-list-container{
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
}

.ql-mention-list-item{
    cursor: pointer;
    padding: 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.3em;
}

.ql-mention-list-item.selected{
    background-color: #D3E1EB;
}

.ql-mention-list-container li{
    list-style-type: none;
}
.visible {
    visibility: visible;
    pointer-events: auto;
}
.invisible {
    visibility: hidden;
    pointer-events: none;
    display: none;
}
