
#dropdown {
    width: 520px;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
    z-index: 9001;
    height: 100px;
    position:absolute;
}

.visible {
    visibility: visible;
    pointer-events: auto;
}
.invisible {
    visibility: hidden;
    pointer-events: none;
    display: none;
}
